<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DownloadsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <DownloadsManager.Properties.Settings>
            <setting name="DefaultSavePathMusic" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultSavePathPictures" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultSavePathApps" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultSavePathDocuments" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultSavePathVideo" serializeAs="String">
                <value/>
            </setting>
            <setting name="CleanEndedDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IEExtensionGuid" serializeAs="String">
                <value/>
            </setting>
        </DownloadsManager.Properties.Settings>
    </userSettings>
</configuration>
